<div class="container">
    <div class="row main-description">
        <h1>Clientes Cadastrados</h1>
        <h3>Lista de Clientes Cadastrados</h3>
    </div>
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading area-filter">
                <h4 class="panel-title">Filtro</h4>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <label for="nomeClient">Nome</label>
                        <input type="text" name="nomeClient" class="form-control" [(ngModel)]="filterTable.name">
                    </div>
                    <div class="col-lg-6">
                        <label for="surNameClient">Sobrenome</label>
                        <input type="text" name="surNameClient" class="form-control" [(ngModel)]="filterTable.surname">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label for="nomeClient">Email</label>
                        <input type="text" name="nomeClient" class="form-control" [(ngModel)]="filterTable.email">
                    </div>
                    <div class="col-lg-8">
                        <label for="surNameClient">Endereço</label>
                        <input type="text" name="surNameClient" class="form-control" [(ngModel)]="filterTable.address">
                    </div>
                </div>

                
                
                <div class="pull-left" style="padding: 10px;">
                    <button class="btn btn-primary" (click)="findUsers()"> Buscar </button>
                </div>
            </div>
            
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="#" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Ações" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Nome Completo" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Email" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Endereço" disabled></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of list;let i=index;">
                        <td>{{i+1}}</td>
                        <td>--</td>
                        <td>{{item.name}} {{item.surname}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.address}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>