<div class="panel">
    <div class="d-flex justify-content-center">
        <div>
            <h1>Corretora de Imoveis</h1>
        </div>
    </div>
    <br>
    <div class="description-ac">
        <p>
            Sistema de gerenciamento, para clientes, corretores e coordenadores. Para melhor desempenho e acompanhamento
            dos imoveis.

        </p>
        <p>
            Lorem ipsum ut lacus fusce molestie sed ut lorem, tellus eu ultrices dapibus et enim torquent, auctor class
            faucibus volutpat ante at cubilia. urna ut augue cursus erat ut pharetra viverra scelerisque per convallis
            vulputate, aliquam ornare luctus aptent velit proin habitasse tempor vitae. litora blandit arcu ornare risus
            mi posuere platea, commodo nisi turpis purus hac elementum, bibendum nisl dolor vestibulum accumsan
            sagittis. odio fringilla commodo maecenas integer faucibus, ligula erat rhoncus nisl quisque, cursus dui
            sagittis molestie. amet aliquam nostra dolor pharetra massa mi fermentum molestie, inceptos volutpat
            hendrerit porta habitasse velit primis nibh, suspendisse ut volutpat accumsan hendrerit amet netus.
        </p>
    </div>

    <br>
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-md-4">
                <h3>Clientes</h3>
            </div>
            <div class="col-md-4">
                <h3>Corretores</h3>
            </div>
            <div class="col-md-4">
                <h3>Coordenadores</h3>
            </div>
        </div>
    </div>


</div>