<div class="modal-header">
    <h4 class="modal-title">Aprovar Imovel</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-lg-12">
            <label for="nome"><b>Nome:</b> {{immobile.nome}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="form-label" for="description"><b>Descrição Imóvel:</b> {{immobile.description}}</label>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="update(true)"> Aprovar </button>
        <button type="button" class="btn btn-danger" (click)="update(false)"> Reprovar </button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fechar</button>
    </div>